<footer class="main-footer">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-4">
                <article class="footer-data">
                    <i class="fas fa-credit-card"></i>
                    <h2 class="tituloFooter">Comprar</h2>
                    <ul class="textoFooter">
                        <li>Autos usados</li>
                        <li>Autos 0km</li>
                        <li>Autos usados cercanos a ti</li>
                        <li>Repuestos</li>
                    </ul>
                </article>
            </div>
            <div class="col-12 col-lg-4">
                <article class="footer-data">
                    <i class="fas fa-gift"></i>
                    <h2 class="tituloFooter">Vender</h2>
                    <ul class="textoFooter">
                        <li>Vender mi auto</li>
                        <li>Conseguir ofertas instantaneas</li>
                        <li>Subastarlo</li>
                        <li>Valoracion de tu auto</li>
                    </ul>
                </article>
            </div>
            <div class="col-12 col-lg-4">
                <article class="footer-data">
                    <i class="fas fa-user-shield"></i>
                    <h2 class="tituloFooter">Contactanos</h2>
                    <ul class="textoFooter">
                        <li>Sobre MM Motors</li>
                        <li>Terminos & Condiciones</li>
                        <li>Subscribite y recibi nuestras mejores ofertas</li>
                    </ul>
                </article>
            </div>
        </div>
    </div>
</footer>
<!-- /footer -->