<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%= include('./partials/head') %>

<body>
	<!-- Header -->
	
	<%= include('./partials/headerNoLogueado') %>

	<!-- /Header -->
	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Ingresar</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> <i>///////////////////////////////////////// <br> Acá va el formulario de login. <br>
			Debe cumplir con los puntos de la consigna y ser coherente con la tabla de la base de datos <br>
			Eliminen estás líneas y coloquen el formulario. <br>
			Recuerden todo lo que necesita tanto la etiqueta form como los campos input para operar correctamtente</i> <br>
			////////////////
			</h2>

			<form action="./profile.ejs" method="GET" class="">
			
			
			<label>USUARIO</label><input type="email" placeholder="EMAIL" >
			<label>CONTRASEÑA</label><input type="password" placeholder="PASSWORD" >
			<label>RECUERDAME</label><input type="checkbox" >
			<button type="sumbit">LOG IN</button>
			
		
			</form>

			<p>
				Ya tienes una cuenta?
				<a href="/users/register">Crear cuenta</a>
			</p>

	<!-- footer -->
	<%- Include("./partials/footer") %>
	<!-- /footer -->
</body>

</html>