

<%- include('./partials/head') %>

<body>
	<!-- Header -->
	
	<%- include('./partials/headerNoLogueado') %>

	<!-- /Header -->
	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Ingresar</h2>
			</div>
		

			<form action="/users/profile" method="GET" class="">
			
			
			<label>USUARIO</label><input type="email">
			<label>CONTRASEÑA</label><input type="password" >
			<label>RECUERDAME</label><input type="checkbox" >
			<button type="sumbit">LOG IN</button>
			
		
			</form>

			<p>
				Ya tienes una cuenta?
				<a href="/users/register">Crear cuenta</a>
			</p>

	<!-- footer -->
	<%- include("./partials/footer") %>
	<!-- /footer -->
</body>

</html>