<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head') %>
<!-- Include Head -->
	

<body>
	<!-- Header -->
	<% if (locals.usuario != null) {%>
		<%- include('./partials/headerLogueado') %> 
	<% } else {%>
		<%- include("./partials/headerNoLogueado") %>
	<% } %>
	<!-- /Header -->


	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Registrate</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<form action="/users/register" method="post">
				<label> EMAIL</label><input type="email" value="" name="email">
				<label> NOMBRE DE USUARIO</label><input type="text" value="" name="usuario">
				<label> CONTRASEÑA:</label><input type="password" value="" name="contraseña">
				<label> FECHA DE NACIMIENTO</label><input type="number" value="" name="fecha_nacimiento">
				<label> DNI</label><input type="number" value="" name="DNI">
				<label> FOTO PERFIL</label><input type="text" value="" name="foto_perfil">
				
				<button type="submit"> REGISTRARME </button> 
			</form>

			<p>
				Ya tienes una cuenta?
				<a href="/users/login">Login</a>
			</p>

	<!-- footer -->

	<%- include('./partials/footer') %>

	<!-- /footer -->
</body>

</html>

